img.img-fluid { 
max-width: 50%;
}

.contact-card { 

text-align: center;
}

.master-card { 
margin-top: 2em;

}

.contact-hr { 
margin: 25px; 
}

#contact-tron { 
padding: 1rem;

}

#contact-hr { 
border-color: black;
}